<style>
#top-left {
  position: absolute;
  top: 0;
  left: 0;
  float: left;
}

#top-right {
  position: absolute;
  top: 0;
  right: 0;
  float: right;
}

#bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  float: left;
}

#bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  float: right;
}

</style>

